<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.name %>
      <%= movie.title %>
      <%= movie.overview %>
      <%= movie.poster_url %>
      <%= movie.rating %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new list", lists_new_path %>
